<div class="row bg-white mx-4 mt-4 p-3 rounded-4">
    <div class="col-lg-6 position-relative">
        <form (keypress.enter)="registrZaer()" (ngSubmit)="registrZaer()">
            <input autocomplete="none" [disabled]="loading" autofocus #inputZaer onlyNumber type="text"
                class="form-control py-2" (input)="registrZaer()" placeholder="جستجو" [(ngModel)]="nationalCode"
                name="nationalCode">
            <button class="btn btn-info f-14 px-4 text-white btn-search"
                [disabled]="(nationalCode && nationalCode.length != 10) || loading">ثبت
                تردد</button>
        </form>
    </div>
    <div class="col-lg-6 text-start mt-3 mt-lg-1 d-flex justify-content-end gap-1">
        <button class="btn btn-outline-info f-14" [routerLink]="['/zaer']">
            <i class="icon-fo-slide-page f-14 ms-2"></i>
            مدیریت زائرین
        </button>
        <button class="btn btn-outline-info f-14" [routerLink]="['/reports']">
            <i class="icon-fo-slide-page f-14 ms-2"></i>
            گزارشات
        </button>
        <button (click)="logout()"
            class="btn btn-outline-info d-flex f-14 float-start justify-content-center align-items-center mx-2 px-4">
            <div class="rotate ms-2">
                <i class="icon-fo-signout f-14 "></i>
            </div>
            خروج

        </button>
    </div>
</div>
<div class="row mx-4">
    <div class="col-lg-6 bg-white mb-5 mt-4 p-3 rounded-4">
        <div class="w-100 float-end">
            <h4 class="text-info-custom float-end">
                <span *ngIf="model.nationalCode "
                    class="alert alert-info float-start py-2 f-14 d-flex align-items-center me-2">شناسه <b
                        class="me-2">{{model.nationalCode}}</b> </span>
                مشخصات
            </h4>
            <ng-container *ngIf="model.total != null">
                <span *ngIf="(model.total % 2) == 1"
                    class="alert alert-info float-start py-2 f-14 d-flex align-items-center">
                    ورود
                    <i class="icon-fo-checked-filled text-info-custom me-2"></i>
                </span>
                <span *ngIf="(model.total % 2) == 0"
                    class="alert alert-danger float-start py-2 f-14 d-flex align-items-center">
                    خروج
                    <i class="icon-fo-circle-close-filled text-danger-custom me-2"></i>
                </span>
                <span class="float-start f-14 mt-2 ms-2">وضعیت: </span>
            </ng-container>

        </div>
        <div class="w-100 float-end">

            <ul class="list-group list-group-flush px-0">
                <li class="list-group-item py-3">
                    <span>نام:</span>
                    <span class="float-start">{{ model.fullname }}</span>
                </li>
                <li class="list-group-item py-3">
                    <span>جنسیت:</span>
                    <span class="float-start" *ngIf="model.sex == 0">خانم</span>
                    <span class="float-start" *ngIf="model.sex == 1">آقا</span>
                </li>
                <li class="list-group-item py-3">
                    <span>کدملی:</span>
                    <span class="float-start">{{ model.nationalCode }}</span>
                </li>
                <li class="list-group-item py-3">
                    <span>نام کاروان:</span>
                    <span class="float-start">{{ model.caravanId | caravan : 'name'}}</span>
                </li>
                <li class="list-group-item py-3">
                    <span>مسئول کاروان:</span>
                    <span class="float-start">{{ model.caravanId | caravan : 'admin'}}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-6">
        <div class=" bg-white mb-5 mt-4 p-3 rounded-4 w-100 float-end ">
            <div class="w-100 float-end d-flex justify-content-between">
                <h4 class="text-info-custom float-end">لیست ترددها</h4>

                <div class="d-flex">
                    <span class="float-start f-14 mt-2 ms-2">تعداد کل تردد: </span>
                    <span class="alert alert-secondary border-0 px-4 float-start py-2 f-14 d-flex align-items-center">{{
                        model.total || 0 }}
                    </span>
                </div>

            </div>
            <div class="w-100 float-end table-responsive scroller">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="text-muted text-center">نوع تردد</th>
                            <th scope="col" class="text-muted text-center">زمان</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of model.traffic; let i = index">
                            <ng-container *ngIf="{ index: model.traffic.length - i } as row">
                                <td class="align-items-center d-flex justify-content-center">
                                    <i class="icon-fo-checked-filled text-info-custom f-20" *ngIf="(row.index % 2)"></i>
                                    <i class="icon-fo-circle-close-filled text-danger-custom f-20"
                                        *ngIf="!(row.index % 2)"></i>
                                    {{ (row.index % 2) ? 'ورود' : 'خروج'}}
                                </td>
                                <td class="text-center">
                                    <span class="date-style">{{ item.date | jalali }}</span>
                                </td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>