<section class="print-table" *ngIf="type == 0">
  <div class="page" size="A4" layout="landscape" *ngFor="let page of zaerList">
    <div *ngFor="let item of page" class="cart position-relative">
      <ng-container *ngIf="item.id && item.id != -1">
        <img class="user-image position-absolute" src="{{ item.image || 'assets/img/no-img.jpg' }}">
        <span class="fullname position-absolute">{{ item?.fullname }}</span>
        <span class="national-code position-absolute">{{ item?.nationalCode }}</span>
        <span class="caravan-name position-absolute">{{ item?.caravanName }}</span>
        <span class="barcode-font position-absolute">*{{ item?.id }}*</span>
      </ng-container>
      <img class="w-100" src="assets/img/cart.jpg">
    </div>
  </div>
</section>

<section class="print-table" *ngIf="type == 1">
  <div class="page page2" size="A4" *ngFor="let page of zaerList">
    <div *ngFor="let item of page" class="cart position-relative">
      <ng-container *ngIf="item.id && item.id != -1">
        <img class="user-image position-absolute" src="{{ item.image || 'assets/img/no-img.jpg' }}">
        <span class="fullname position-absolute">{{ item?.fullname }}</span>
        <span class="barcode-font position-absolute">*{{ item?.id }}*</span>
      </ng-container>
      <img class="w-100" src="assets/img/cart-khadem.jpg">
    </div>
  </div>
</section>